.bg-dark{
    position: sticky;
    box-shadow: 0 15px 15px black;
    top: 0;
    z-index: 1000;
}

.span{
 display: inline-block; 
    background-color: #808080;
    color: white;
    border-radius: 50%;
    width: 22px;
    height: 22px;
    color: greenyellow;
    padding-left: 7px;
    font-size: 16px; 
}


